.cls-banner {
  width: 100%;
  height: 100%;
}
.card {
  width: 18rem;
}
.card-img-top {
  width:100%;
  height:300px;
}
.cls-main{
  margin:40px 150px;
}
.cls-text-center {
  text-align: center;
}
.cls-text-right {
  text-align: right;
}
.cls-table-head {
  background-color: #362825d4 !important;
  color: white;
}